#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 63px;
  padding: 6px;
  background-color: #123c69;
  text-align: center;
}

.site-layout .site-layout-background {
  background: #fff;
}

.logo {
  text-align: center;
  padding-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ddd;
}

.logo img {
  height: 45px;
}
